body{
    background-color: rgba(11, 52, 105, 0.767);
}
.container{
    max-width: 400px;
    margin: 10vh auto 0 auto;
    background-color: rgb(224, 247, 247);
    border-radius: 20px;
    padding: 30px;
}

#display{
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    font-weight: 3px;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
}


.button{
    border: 0.5px solid black;
    line-height: 90px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50px;
    margin: 2px;
    background-color: rgb(255, 255, 255);
}

#equal{
    background-color: rgb(18, 180, 67);
    color: white;
}

.button:hover{
    background-color: rgb(14, 106, 123);
    color: white;
}